@import "vendors";

#main-container, html, body {
  height:100%;
  margin:0;
}
body {
  padding-top: 3.5rem;
}
#main-container {
  display: flex;
  flex-direction: column;
}

#main-content {
  flex-grow: 1;
}
